// backgound color
$base-light-bg: #ffffff;
$second-light-bg: #f8f8f8;
$base-dark-bg: #13182c;
$second-dark-bg: #141930;
$info-bg: #ff7300;

// text color
$base-dark-text: #091856; 
$second-dark-text: #081444;
$light-text: #f8f8f8;
$info-text: #ff7300;
// #091856 opacity: 0.4;

// font-size
// 22px 16px 12px 10px 9px 8px
$all: 100%;
$pb-normal: 88px; // (73px + 15px)